ul {
  list-style-type: none;
}
li {
  padding: 10px;
}
.cartIcon h3 {
  margin-top: 1px;
  font-size: 15px;
  cursor: pointer; 
}
.cart-container {
  margin: 20px;
  height: 400px;
  padding: 10px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: white;
  font-size: 15px;
  box-shadow: 0px 10px 20px rgb(60, 50, 50);
}
.cartItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #050101;
  background: rgb(219, 217, 227);
}
.cart-actions {
  color: white;
  font-size: 20px;
  width: 50px;
  border: none;
  background: rgb(115, 88, 233);
  height: 30px;
  padding: 0%;
  
}

